body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
    padding: 6em 0;
    background-image: url('https://unsplash.imgix.net/photo-1414446483597-8d8f792bfe39?q=75&fm=jpg&s=2756ab87b786786b9e689b6204d99c90');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #FFCF33;
}

.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
}

.masthead-heading {
    /* Layout Declarations */
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  text-shadow: 2px 2px 5px #E49A5F ;
}


.content-footer,
.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
.content-footer{
  max-width: none;
  padding: 1.5em;
  background-color: rgba(118, 100, 100, 0.87);;
  line-height: 2em;
  
}

.social > li {
    display: inline-block;
}

.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}
.content-footer p {
  margin: 0px;
  color: #fff;
}
.content-footer ul {
  margin: 0px;
}
.content-footer ul>li {
  margin-right: 1em;
  
}
a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(210, 157, 28);
}

.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}


/* Media Queries */


@media only screen and (max-width: 700px) {
    .masthead-heading {
        font-size: 4em;
    }
    .content-footer,
    .introduction-section,
    .location-section,
    .questions-section {
        max-width: 35em;
        margin-left: 4.5em;
        margin-right: 0;
        margin-top: 0; 
    }
    section > h1 {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .questions-section > h2 {
      font-size: 1em;
      margin: 1em 0 1em 0;
    }
    .content-footer{
      padding: 0;
      line-height: 1.5em;
    }
    .content-footer ul{
      padding-left: 0;
      font-size: 1em;
    }
    .content-footer ul>li {
      margin-right: 0;
    }
    .social > li {
        display: inline-block;
    }
  }

@media only screen and (max-width: 500px) {
    .masthead-heading {
        font-size: 3em;
    }
    .content-footer,
    .introduction-section,
    .location-section,
    .questions-section {
        max-width: 22em;
        margin-left: 1.5em;
        margin-right: 0;
        margin-top: 0; 
    }
    section > h1 {
      margin-top: 1em;
      margin-bottom: 1em;
    }
    .questions-section > h2 {
      font-size: 1em;
      margin: 1em 0 1em 0;
    }
    .content-footer{
      padding: 0;
      line-height: 1.5em;
    }
    .content-footer p{
      font-size: 0.8em;
          }
    .content-footer ul{
      margin-top: -5px;
      padding-left: 0;
      font-size: 0.8em;
    }
    .content-footer ul>li {
      margin-right: 0;
    }
    .content-footer p:nth-child(3){
      margin-top: -5px;
          }
    .social > li {
        display: inline-block;
    }

}
